<h1>Edit Drive</h1>

<%= simple_form_for @drive do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :max_per_slot %>
    </div>
    <div class="col-xs-6">
      <%= f.input :time_per_slot %>
    </div>
  </div>
  <%= f.simple_fields_for :days, html: {form: 'form-horizontal'} do |d| %>
    <div class="panel panel-<%= d.object.persisted? ? 'primary' : 'default' %>">
      <div class="panel-heading">
        <h1 class="panel-title">
          <% if d.object.persisted? %>
            Day #<%= d.index + 1 %>
          <% else %>
            Add A Day
          <% end %>
        </h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <%= d.label :date %>
            <%= d.date_field :date, placeholder: 'Date', value: d.object.date || Date.today %>
          </div>
          <div class="col-xs-4">
            <%= d.label :start_time %>
            <%= d.time_field :start_time, value: d.object.start_time && d.object.start_time.strftime("%H:%M:%S") %>
          </div>
          <div class="col-xs-4">
            <%= d.label :stop_time %>
            <%= d.time_field :stop_time, value: d.object.stop_time && d.object.stop_time.strftime("%H:%M:%S") %>
          </div>
        </div>
        <div class="checkbox">
          <label><%= d.check_box :_destroy %>Remove</label>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.submit "Save changes", class: 'btn btn-primary', data: {disable_with: 'Saving...'} %>
  <%= link_to "Show slots", @drive, class: 'btn btn-default' %>
<% end %>
