<h1>Edit Drive</h1>

<h2>Hello <%= current_user.netid %></h2>
<%= simple_form_for @drive do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :max_per_slot %>
    </div>
    <div class="col-xs-6">
      <%= f.input :time_per_slot %>
    </div>
  </div>
  <%= f.simple_fields_for :days, html: {form: 'form-horizontal'} do |d| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Day #<%= d.index + 1 %>: <%= d.object.id %></h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <%= d.label :date %>
            <%= d.date_field :date, placeholder: 'Date', value: d.object.date || Date.today %>
          </div>
          <div class="col-xs-4">
            <%= d.label :start_time %>
            <%= d.time_field :start_time %>
          </div>
          <div class="col-xs-4">
            <%= d.label :stop_time %>
            <%= d.time_field :stop_time %>
          </div>
        </div>
        <div class="checkbox">
          <label><%= d.check_box :_destroy %>Remove</label>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.submit "Save changes", class: 'btn btn-default' %>
<% end %>
