<h1>
  Edit Drive
  <small><%= link_to "See Kiosk", kiosk_drive_path(@drive), class: 'btn btn-default btn-sm' %></small>
</h1>

<%= simple_form_for @drive do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <% if f.object.filepicker_url.present? %>
    <div class="thumbnail">
      <%= filepicker_image_tag f.object.filepicker_url, w: 160, h: 160, fit: 'clip' %>
  </div>
  <% end %>
  <%= f.filepicker_field :filepicker_url, class: 'btn btn-success' %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :max_per_slot %>
    </div>
    <div class="col-xs-6">
      <%= f.input :time_per_slot %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
     <%= f.simple_fields_for :days, html: {form: 'form-horizontal'} do |d| %>
        <div class="panel panel-<%= d.object.persisted? ? 'primary' : 'default' %>">
          <div class="panel-heading">
            <h1 class="panel-title">
              <% if d.object.persisted? %>
                Day #<%= d.index + 1 %>
              <% else %>
                Add A Day
              <% end %>
            </h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4">
                <%= d.label :date %>
                <%= d.date_field :date, placeholder: 'Date', value: d.object.date || Date.today %>
              </div>
              <div class="col-xs-4">
                <%= d.label :start_time %>
                <%= d.time_field :start_time, value: d.object.start_time && d.object.start_time.strftime("%H:%M:%S") %>
              </div>
              <div class="col-xs-4">
                <%= d.label :stop_time %>
                <%= d.time_field :stop_time, value: d.object.stop_time && d.object.stop_time.strftime("%H:%M:%S") %>
              </div>
            </div>
            <% if d.object.persisted? %>
              <div class="checkbox">
                <label class="text-danger"><%= d.check_box :_destroy %>Remove</label>
              </div>
              <% if d.object.confirmed_appointment_count > 0 %>
                <div class="alert alert-danger" style="margin-bottom:0">
                  <strong>Warning:</strong> There are <%= pluralize d.object.confirmed_appointment_count, 'confirmed appointment' %> for this day. 
                  Removing this day will remove those slots.
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-4">
      <%= render 'confirmed', drive: @drive %>
    </div>
  </div>
<% end %>
